# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
# result フォルダは残し、中身のみ無視
result/*
!result/.gitkeep

# Virtual env
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Output
log-fooot-output/
*.log

# OS
.DS_Store
Thumbs.db
